@import "../../dashboard/text-vars";

// Labels
$f-alt-label-text-color: var(--base-ultra-light);
$f-alt-label-background-color: null;

// Legend
$f-alt-legend-text-color: var(--base-light);

// Inputs
$f-alt-input-background: var(--base-dark);
$f-alt-input-border-size: 0;
$f-alt-input-border-color: transparent;
$f-alt-input-text-color: var(--base-light);
$f-alt-input-placeholder-color: var(--base-light);

// Buttons
$f-alt-btn-background: var(--primary);
$f-alt-btn-background-hover: var(--primary-hover);
$f-alt-btn-text-color: var(--primary-ultra-dark);
$f-alt-btn-text-color-hover: var(--primary-ultra-dark);
$f-alt-btn-border-size: $btn-border-size;
$f-alt-btn-border-color: var(--primary);
$f-alt-btn-border-hover-color: var(--primary-hover);

// Option Buttons

$f-alt-option-background: $f-alt-input-background;
$f-alt-option-border-color: $f-alt-input-border-color;

// Progress

$f-alt-progress-background-color: var(--base-dark);
$f-alt-progress-bar-fill-color: var(--primary);

// Tabs

$f-alt-tabs-border-size: 0;
$f-alt-tabs-border-color: $f-input-border-color;
$f-alt-tab-background-color: transparent;
$f-alt-tab-border-size: $f-input-border-size;
$f-alt-tab-border-color: $f-input-border-color;
$f-alt-tabs-text-color: var(--base-dark);
$f-alt-tab-active-background-color: transparent;
$f-alt-tab-active-border-color: var(--primary);
$f-alt-tab-active-text-color: var(--primary);

// Text Color
.form--alt .wsf-form,
.form--alt .wsf-help {
  color: $f-alt-label-text-color !important;
}

// Inputs
.form--alt {
  input[type="date"].wsf-field,
  input[type="datetime-local"].wsf-field,
  input[type="file"].wsf-field,
  input[type="month"].wsf-field,
  input[type="password"].wsf-field,
  input[type="search"].wsf-field,
  input[type="time"].wsf-field,
  input[type="week"].wsf-field,
  input[type="email"].wsf-field,
  input[type="number"].wsf-field,
  input[type="tel"].wsf-field,
  input[type="text"].wsf-field,
  input[type="url"].wsf-field,
  select.wsf-field:not([multiple]):not([size]) {
    border-color: $f-alt-input-border-color;
    background-color: $f-alt-input-background;
    color: $f-alt-input-text-color;

    &::placeholder {
      color: $f-alt-input-placeholder-color;
    }
  }
  textarea.wsf-field {
    border-color: $f-alt-input-border-color;
    background-color: $f-alt-input-background;
    color: $f-alt-input-text-color;

    &::placeholder {
      color: $f-alt-input-placeholder-color;
    }
  }
}

// Buttons
.form--alt {
  button.wsf-button,
  button.wsf-button.wsf-button-primary {
    background-color: $f-alt-btn-background;
    border-color: $f-alt-btn-border-color;
    color: $f-alt-btn-text-color;

    &:hover {
      background-color: $f-alt-btn-background-hover;
      border-color: $f-alt-btn-border-hover-color;
      color: $f-alt-btn-text-color-hover;
    }
  }
}

// Progress
.form--alt {
  progress.wsf-progress[value] {
    background-color: $f-alt-progress-background-color;
  }
  progress.wsf-progress[value]::-moz-progress-bar {
    background-color: $f-alt-progress-bar-fill-color;
  }
}

// Tabs
.form--alt {
  .wsf-form ul.wsf-group-tabs {
    border-color: $f-alt-tabs-border-color;
  }
  .wsf-form ul.wsf-group-tabs > li > a {
    background-color: $f-alt-tab-background-color;
    border-color: $f-alt-tab-border-color;
    color: $f-alt-tabs-text-color;
  }
  .wsf-form ul.wsf-group-tabs > li.wsf-tab-active > a {
    background-color: $f-alt-tab-active-background-color;
    border-color: $f-alt-tab-active-border-color;
    border-bottom-color: $f-alt-tab-active-border-color;
    color: $f-alt-tab-active-text-color;
  }
}

// Checkboxes
.form--alt {
  input[type="checkbox"].wsf-field:checked + label.wsf-label::before {
    background-color: var(--primary);
    border-color: var(--primary);
  }
  input[type="checkbox"].wsf-field + label.wsf-label::before {
    border-color: $f-alt-input-border-color;
    background-color: $f-alt-input-background;
  }
}

// Radio Buttons

.form--alt input[type="radio"].wsf-field:checked + label.wsf-label::before {
  background-color: var(--primary);
  border-color: var(--primary);
}

.form--alt input[type="radio"].wsf-field + label.wsf-label::before {
  background-color: $f-alt-input-background;
  border-color: $f-alt-input-background;
}

// Required
.form--alt .wsf-required-wrapper .wsf-text-danger {
  color: var(--primary);
}

// Range Slider

.form--alt input[type="range"].wsf-field::-moz-range-track {
  background-color: var(--primary-ultra-light);
}

.form--alt input[type="range"].wsf-field::-moz-range-thumb {
  background-color: var(--primary);
}

// Dropzone

.form--alt input[type="text"].wsf-field ~ .dropzone {
  background-color: $f-alt-input-background;
  border-color: $f-alt-input-border-color;
}

.form--alt input[type="text"].wsf-field ~ .dropzone .dz-message {
  color: $f-alt-input-text-color;
}

// File Upload

.form--alt input[type="file"].wsf-field::file-selector-button {
  background-color: $f-alt-input-border-color;
  color: $f-alt-input-text-color;
}

// Legal

.form--alt {
  [data-wsf-legal].wsf-field {
    background-color: $f-alt-input-background;
    border-color: $f-alt-input-border-color;
    color: $f-alt-input-text-color;
  }
}

// Alert

.form--alt .wsf-alert {
  background-color: var(--base-ultra-light);
  -webkit-border-start: $f-alt-input-border-size solid $f-input-border-color;
  border-inline-start: $f-alt-input-border-size solid $f-input-border-color;
}
