// Scoping bootstrap + bootswatch theme
// A couple of tricks were needed, specially with HTML and BODY styles
@import "lib/bootswatch-slate/variables";
.oxypowerpack {
  // This is a modified bootstrap with some global and body stuff removed...
  @import "lib/custom-bootstrap/scss/bootstrap";
  //... so we can define them scoped

  // ---------- Start Original _root.scss from bootstrap
  // Custom variable values only support SassScript inside `#{}`.
  @each $color, $value in $colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $theme-colors {
    --#{$color}: #{$value};
  }

  @each $bp, $value in $grid-breakpoints {
    --breakpoint-#{$bp}: #{$value};
  }

  // Use `inspect` for lists so that quoted items keep the quotes.
  // See https://github.com/sass/sass/issues/2383#issuecomment-336349172
  --font-family-sans-serif: #{inspect($font-family-sans-serif)};
  --font-family-monospace: #{inspect($font-family-monospace)};
  // ---------- End original _root.scss from bootstrap

  // ---------- Code extracted from _reboot.scss
  // HTML
  font-family: sans-serif; // 2
  line-height: 1.15; // 3
  -webkit-text-size-adjust: 100%; // 4
  -webkit-tap-highlight-color: rgba($black, 0); // 5

  // BODY
  margin: 0; // 1
  font-family: $font-family-base;
  @include font-size($font-size-base);
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left; // 3
  background-color: $body-bg; // 2
  // ---------- End of code extracted from _reboot.scss



  @import "lib/bootswatch-slate/bootswatch";

  .btn:focus{
    box-shadow: none !important;
  }
}
@import "drawer";
@import "floating-buttons";
@import "oxygen-hacks";
@import "admin";
