<figure class="oxyPowerPack-testimonialbox"><img src="%%testimonial_photo%%" class="profile" />
    <figcaption>
        <blockquote OXY_EDITABLE(testimonial_text|If you set your goals ridiculously high and it's a failure, you will fail above everyone else's success.)>%%testimonial_text%%</blockquote>
    </figcaption>
    <div class="header">
        <h3 OXY_EDITABLE(testimonial_author|James Cameron)>%%testimonial_author%%</h3>
        <span class="subtitle" OXY_EDITABLE(testimonial_author_subtitle|Filmmaker)>%%testimonial_author_subtitle%%</span>
    </div>
</figure>
