:root {
  --primary: hsl(358deg, 70%, 66%);
  --primary-hover: hsl(358deg, 70%, 75.9%);
  --primary-ultra-light: hsl(358deg, 70%, 95%);
  --primary-light: hsl(358deg, 70%, 85%);
  --primary-medium: hsl(358deg, 70%, 50%);
  --primary-dark: hsl(358deg, 70%, 25%);
  --primary-ultra-dark: hsl(358deg, 70%, 10%);
  --primary-comp: hsl(178deg, 70%, 66%);
  --secondary: hsl(276deg, 16%, 41%);
  --secondary-hover: hsl(276deg, 16%, 47.15%);
  --secondary-ultra-light: hsl(276deg, 16%, 95%);
  --secondary-light: hsl(276deg, 16%, 85%);
  --secondary-medium: hsl(276deg, 16%, 50%);
  --secondary-dark: hsl(276deg, 16%, 25%);
  --secondary-ultra-dark: hsl(276deg, 16%, 10%);
  --secondary-comp: hsl(96deg, 16%, 41%);
  --accent: hsl(21deg, 69%, 73%);
  --accent-hover: hsl(21deg, 69%, 83.95%);
  --accent-ultra-light: hsl(21deg, 69%, 95%);
  --accent-light: hsl(21deg, 69%, 85%);
  --accent-medium: hsl(21deg, 69%, 50%);
  --accent-dark: hsl(21deg, 69%, 25%);
  --accent-ultra-dark: hsl(21deg, 69%, 10%);
  --accent-comp: hsl(201deg, 69%, 73%);
  --base: hsl(213deg, 36%, 32%);
  --base-hover: hsl(213deg, 36%, 36.8%);
  --base-ultra-light: hsl(213deg, 36%, 95%);
  --base-light: hsl(213deg, 36%, 85%);
  --base-medium: hsl(213deg, 36%, 50%);
  --base-dark: hsl(213deg, 36%, 25%);
  --base-ultra-dark: hsl(213deg, 36%, 10%);
  --base-comp: hsl(33deg, 36%, 32%);
  --white: #fff;
  --black: #000;
  --shade: hsl(0deg, 0%, 0%);
  --shade-hover: hsl(0deg, 0%, 0%);
  --shade-ultra-light: hsl(0deg, 0%, 95%);
  --shade-light: hsl(0deg, 0%, 85%);
  --shade-medium: hsl(0deg, 0%, 50%);
  --shade-dark: hsl(0deg, 0%, 25%);
  --shade-ultra-dark: hsl(0deg, 0%, 10%);
  --shade-comp: hsl(180deg, 0%, 0%);
  --primary-trans-10: hsla(358deg, 70%, 66%, 0.1);
  --primary-trans-20: hsla(358deg, 70%, 66%, 0.2);
  --primary-trans-40: hsla(358deg, 70%, 66%, 0.4);
  --primary-trans-60: hsla(358deg, 70%, 66%, 0.6);
  --primary-trans-80: hsla(358deg, 70%, 66%, 0.8);
  --primary-trans-90: hsla(358deg, 70%, 66%, 0.9);
  --primary-ultra-dark-trans-10: hsla(358deg, 70%, 10%, 0.1);
  --primary-ultra-dark-trans-20: hsla(358deg, 70%, 10%, 0.2);
  --primary-ultra-dark-trans-40: hsla(358deg, 70%, 10%, 0.4);
  --primary-ultra-dark-trans-60: hsla(358deg, 70%, 10%, 0.6);
  --primary-ultra-dark-trans-80: hsla(358deg, 70%, 10%, 0.8);
  --primary-ultra-dark-trans-90: hsla(358deg, 70%, 10%, 0.9);
  --primary-light-trans-10: hsla(358deg, 70%, 85%, 0.1);
  --primary-light-trans-20: hsla(358deg, 70%, 85%, 0.2);
  --primary-light-trans-40: hsla(358deg, 70%, 85%, 0.4);
  --primary-light-trans-60: hsla(358deg, 70%, 85%, 0.6);
  --primary-light-trans-80: hsla(358deg, 70%, 85%, 0.8);
  --primary-light-trans-90: hsla(358deg, 70%, 85%, 0.9);
  --secondary-trans-10: hsla(276deg, 16%, 41%, 0.1);
  --secondary-trans-20: hsla(276deg, 16%, 41%, 0.2);
  --secondary-trans-40: hsla(276deg, 16%, 41%, 0.4);
  --secondary-trans-60: hsla(276deg, 16%, 41%, 0.6);
  --secondary-trans-80: hsla(276deg, 16%, 41%, 0.8);
  --secondary-trans-90: hsla(276deg, 16%, 41%, 0.9);
  --secondary-ultra-dark-trans-10: hsla(276deg, 16%, 10%, 0.1);
  --secondary-ultra-dark-trans-20: hsla(276deg, 16%, 10%, 0.2);
  --secondary-ultra-dark-trans-40: hsla(276deg, 16%, 10%, 0.4);
  --secondary-ultra-dark-trans-60: hsla(276deg, 16%, 10%, 0.6);
  --secondary-ultra-dark-trans-80: hsla(276deg, 16%, 10%, 0.8);
  --secondary-ultra-dark-trans-90: hsla(276deg, 16%, 10%, 0.9);
  --secondary-light-trans-10: hsla(276deg, 16%, 85%, 0.1);
  --secondary-light-trans-20: hsla(276deg, 16%, 85%, 0.2);
  --secondary-light-trans-40: hsla(276deg, 16%, 85%, 0.4);
  --secondary-light-trans-60: hsla(276deg, 16%, 85%, 0.6);
  --secondary-light-trans-80: hsla(276deg, 16%, 85%, 0.8);
  --secondary-light-trans-90: hsla(276deg, 16%, 85%, 0.9);
  --accent-trans-10: hsla(21deg, 69%, 73%, 0.1);
  --accent-trans-20: hsla(21deg, 69%, 73%, 0.2);
  --accent-trans-40: hsla(21deg, 69%, 73%, 0.4);
  --accent-trans-60: hsla(21deg, 69%, 73%, 0.6);
  --accent-trans-80: hsla(21deg, 69%, 73%, 0.8);
  --accent-trans-90: hsla(21deg, 69%, 73%, 0.9);
  --accent-ultra-dark-trans-10: hsla(21deg, 69%, 10%, 0.1);
  --accent-ultra-dark-trans-20: hsla(21deg, 69%, 10%, 0.2);
  --accent-ultra-dark-trans-40: hsla(21deg, 69%, 10%, 0.4);
  --accent-ultra-dark-trans-60: hsla(21deg, 69%, 10%, 0.6);
  --accent-ultra-dark-trans-80: hsla(21deg, 69%, 10%, 0.8);
  --accent-ultra-dark-trans-90: hsla(21deg, 69%, 10%, 0.9);
  --accent-light-trans-10: hsla(21deg, 69%, 85%, 0.1);
  --accent-light-trans-20: hsla(21deg, 69%, 85%, 0.2);
  --accent-light-trans-40: hsla(21deg, 69%, 85%, 0.4);
  --accent-light-trans-60: hsla(21deg, 69%, 85%, 0.6);
  --accent-light-trans-80: hsla(21deg, 69%, 85%, 0.8);
  --accent-light-trans-90: hsla(21deg, 69%, 85%, 0.9);
  --base-trans-10: hsla(213deg, 36%, 32%, 0.1);
  --base-trans-20: hsla(213deg, 36%, 32%, 0.2);
  --base-trans-40: hsla(213deg, 36%, 32%, 0.4);
  --base-trans-60: hsla(213deg, 36%, 32%, 0.6);
  --base-trans-80: hsla(213deg, 36%, 32%, 0.8);
  --base-trans-90: hsla(213deg, 36%, 32%, 0.9);
  --base-ultra-dark-trans-10: hsla(213deg, 36%, 10%, 0.1);
  --base-ultra-dark-trans-20: hsla(213deg, 36%, 10%, 0.2);
  --base-ultra-dark-trans-40: hsla(213deg, 36%, 10%, 0.4);
  --base-ultra-dark-trans-60: hsla(213deg, 36%, 10%, 0.6);
  --base-ultra-dark-trans-80: hsla(213deg, 36%, 10%, 0.8);
  --base-ultra-dark-trans-90: hsla(213deg, 36%, 10%, 0.9);
  --base-light-trans-10: hsla(213deg, 36%, 85%, 0.1);
  --base-light-trans-20: hsla(213deg, 36%, 85%, 0.2);
  --base-light-trans-40: hsla(213deg, 36%, 85%, 0.4);
  --base-light-trans-60: hsla(213deg, 36%, 85%, 0.6);
  --base-light-trans-80: hsla(213deg, 36%, 85%, 0.8);
  --base-light-trans-90: hsla(213deg, 36%, 85%, 0.9);
  --white-trans-10: hsla(0deg, 0%, 100%, 0.1);
  --white-trans-20: hsla(0deg, 0%, 100%, 0.2);
  --white-trans-40: hsla(0deg, 0%, 100%, 0.4);
  --white-trans-60: hsla(0deg, 0%, 100%, 0.6);
  --white-trans-80: hsla(0deg, 0%, 100%, 0.8);
  --white-trans-90: hsla(0deg, 0%, 100%, 0.9);
  --black-trans-10: hsla(0deg, 0%, 0%, 0.1);
  --black-trans-20: hsla(0deg, 0%, 0%, 0.2);
  --black-trans-40: hsla(0deg, 0%, 0%, 0.4);
  --black-trans-60: hsla(0deg, 0%, 0%, 0.6);
  --black-trans-80: hsla(0deg, 0%, 0%, 0.8);
  --black-trans-90: hsla(0deg, 0%, 0%, 0.9);
  --shade-trans-10: hsla(0deg, 0%, 0%, 0.1);
  --shade-trans-20: hsla(0deg, 0%, 0%, 0.2);
  --shade-trans-40: hsla(0deg, 0%, 0%, 0.4);
  --shade-trans-60: hsla(0deg, 0%, 0%, 0.6);
  --shade-trans-80: hsla(0deg, 0%, 0%, 0.8);
  --shade-trans-90: hsla(0deg, 0%, 0%, 0.9);
  --shade-ultra-dark-trans-10: hsla(0deg, 0%, 10%, 0.1);
  --shade-ultra-dark-trans-20: hsla(0deg, 0%, 10%, 0.2);
  --shade-ultra-dark-trans-40: hsla(0deg, 0%, 10%, 0.4);
  --shade-ultra-dark-trans-60: hsla(0deg, 0%, 10%, 0.6);
  --shade-ultra-dark-trans-80: hsla(0deg, 0%, 10%, 0.8);
  --shade-ultra-dark-trans-90: hsla(0deg, 0%, 10%, 0.9);
  --shade-light-trans-10: hsla(0deg, 0%, 85%, 0.1);
  --shade-light-trans-20: hsla(0deg, 0%, 85%, 0.2);
  --shade-light-trans-40: hsla(0deg, 0%, 85%, 0.4);
  --shade-light-trans-60: hsla(0deg, 0%, 85%, 0.6);
  --shade-light-trans-80: hsla(0deg, 0%, 85%, 0.8);
  --shade-light-trans-90: hsla(0deg, 0%, 85%, 0.9);
  --shade-white: #fff;
  --shade-black: #000;
  --text-xs: 1.26rem;
  --text-s: 1.42rem;
  --text-m: 1.8rem;
  --text-l: 2.025rem;
  --text-xl: 2.28rem;
  --text-xxl: 2.565rem;
  --h6: 1.26rem;
  --h5: 1.42rem;
  --h4: 1.8rem;
  --h3: 2.025rem;
  --h2: 2.28rem;
  --h1: 2.565rem;
  --space-xs: 1.896rem;
  --space-s: 2.133rem;
  --space-m: 2.4rem;
  --space-l: 2.7rem;
  --space-xl: 3.038rem;
  --space-xxl: 3.42rem;
  --section-space-xs: 3.84rem;
  --section-space-s: 4.8rem;
  --section-space-m: 6rem;
  --section-space-l: 7.5rem;
  --section-space-xl: 9.375rem;
  --section-space-xxl: 11.719rem;
  --width-xs: calc((128 * 0.1) * 1rem);
  --width-s: calc((128 * 0.2) * 1rem);
  --width-m: calc((128 * 0.4) * 1rem);
  --width-l: calc((128 * 0.6) * 1rem);
  --width-xl: calc((128 * 0.8) * 1rem);
  --width-xxl: calc((128 * 0.9) * 1rem);
  --width-vp-max: calc((128 - 3 * 2) * 1rem);
  --width-50: calc((128 / 2) * 1rem);
  --width-full: 100%;
  --radius-xs: 0.4444444444rem;
  --radius-s: 0.6666666667rem;
  --radius-m: 1rem;
  --radius-l: 1.5rem;
  --radius-xl: 2.25rem;
  --radius-xxl: 3.375rem;
  --radius-50: 50%;
  --radius-circle: 50%;
  --section-padding-x: 2.4rem;
  --section-gutter: 2.4rem;
  --btn-border-size: 0.25rem;
  --outline-btn-border-size: 0.25rem;
  --btn-pad-y: 1em;
  --btn-pad-x: 1.5em;
  --btn-radius: 0.5em;
  --primary-h: 358;
  --primary-s: 70%;
  --primary-l: 66%;
  --secondary-h: 276;
  --secondary-s: 16%;
  --secondary-l: 41%;
  --accent-h: 21;
  --accent-s: 69%;
  --accent-l: 73%;
  --base-h: 213;
  --base-s: 36%;
  --base-l: 32%;
  --shade-h: 0;
  --shade-s: 0%;
  --shade-l: 0%;
  --header-height: 0;
}/*# sourceMappingURL=automatic-variables.css.map */