$text-fallbacks: (
  calc: (
    text-xs: fluidCalc($text-xs-min, $text-xs-max),
    text-s: fluidCalc($text-s-min, $text-s-max),
    text-m: fluidCalc($text-m-min, $text-m-max),
    text-l: fluidCalc($text-l-min, $text-l-max),
    text-xl: fluidCalc($text-xl-min, $text-xl-max),
    text-xxl: fluidCalc($text-xxl-min, $text-xxl-max),
  ),
  calc-max: (
    text-xs: rem($text-xs-max),
    text-s: rem($text-s-max),
    text-m: rem($text-m-max),
    text-l: rem($text-l-max),
    text-xl: rem($text-xl-max),
    text-xxl: rem($text-xxl-max),
  ),
  clamp: (
    text-xs: max(#{$text-xs-stop} * 1rem, #{$text-xs-max} * 1rem),
    text-s: max(#{$text-s-stop} * 1rem, #{$text-s-max} * 1rem),
    text-m: fluidClamp($text-m-min, $text-m-max),
    text-l: fluidClamp($text-l-min, $text-l-max),
    text-xl: fluidClamp($text-xl-min, $text-xl-max),
    text-xxl: fluidClamp($text-xxl-min, $text-xxl-max),
  ),
);

$heading-fallbacks: (
  calc: (
    h6: fluidCalc($h6-min, $h6-max),
    h5: fluidCalc($h5-min, $h5-max),
    h4: fluidCalc($h4-min, $h4-max),
    h3: fluidCalc($h3-min, $h3-max),
    h2: fluidCalc($h2-min, $h2-max),
    h1: fluidCalc($h1-min, $h1-max),
  ),
  calc-max: (
    h6: rem($h6-max),
    h5: rem($h5-max),
    h4: rem($h4-max),
    h3: rem($h3-max),
    h2: rem($h2-max),
    h1: rem($h1-max),
  ),
  clamp: (
    h6: max(#{$h6-stop} * 1rem, #{$h6-max} * 1rem),
    h5: max(#{$h5-stop} * 1rem, #{$h5-max} * 1rem),
    h4: fluidClamp($h4-min, $h4-max),
    h3: fluidClamp($h3-min, $h3-max),
    h2: fluidClamp($h2-min, $h2-max),
    h1: fluidClamp($h1-min, $h1-max),
  ),
);

$spacing-fallbacks: (
  calc: (
    space-xs: fluidCalc($space-xs-min, $space-xs-max),
    space-s: fluidCalc($space-s-min, $space-s-max),
    space-m: fluidCalc($space-m-min, $space-m-max),
    space-l: fluidCalc($space-l-min, $space-l-max),
    space-xl: fluidCalc($space-xl-min, $space-xl-max),
    space-xxl: fluidCalc($space-xxl-min, $space-xxl-max),
    section-space-xs: fluidCalc($section-xs-min, $section-xs-max),
    section-space-s: fluidCalc($section-s-min, $section-s-max),
    section-space-m: fluidCalc($section-m-min, $section-m-max),
    section-space-l: fluidCalc($section-l-min, $section-l-max),
    section-space-xl: fluidCalc($section-xl-min, $section-xl-max),
    section-space-xxl: fluidCalc($section-xxl-min, $section-xxl-max),
    section-padding-x: fluidCalc($section-padding-x-min, $section-padding-x-max),
  ),
  calc-max: (
    space-xs: rem($space-xs-max),
    space-s: rem($space-s-max),
    space-m: rem($space-m-max),
    space-l: rem($space-l-max),
    space-xl: rem($space-xl-max),
    space-xxl: rem($space-xxl-max),
    section-space-xs: rem($section-xs-max),
    section-space-s: rem($section-s-max),
    section-space-m: rem($section-m-max),
    section-space-l: rem($section-l-max),
    section-space-xl: rem($section-xl-max),
    section-space-xxl: rem($section-xxl-max),
    section-padding-x: rem($section-padding-x-max),
  ),
  clamp: (
    space-xs: fluidClamp($space-xs-min, $space-xs-max),
    space-s: fluidClamp($space-s-min, $space-s-max),
    space-m: fluidClamp($space-m-min, $space-m-max),
    space-l: fluidClamp($space-l-min, $space-l-max),
    space-xl: fluidClamp($space-xl-min, $space-xl-max),
    space-xxl: fluidClamp($space-xxl-min, $space-xxl-max),
    section-space-xs: fluidClamp($section-xs-min, $section-xs-max),
    section-space-s: fluidClamp($section-s-min, $section-s-max),
    section-space-m: fluidClamp($section-m-min, $section-m-max),
    section-space-l: fluidClamp($section-l-min, $section-l-max),
    section-space-xl: fluidClamp($section-xl-min, $section-xl-max),
    section-space-xxl: fluidClamp($section-xxl-min, $section-xxl-max),
    section-padding-x:
      fluidClamp($section-padding-x-min, $section-padding-x-max),
  ),
);
