// Framework Feature Support
$option-smooth-scrolling: on !default;

// Platform Support
$option-woocommerce: off !default;
$option-oxygen: off !default;
$option-wsform: off !default;
$option-bricks: off !default;