// Changes made here must be made to
// each builder platform as well.

@include if-oxygen-off {
  // Min Heights
  @each $height in $heights {
    @if $height != full {
      .height--#{$height} {
        min-height: #{$height}vh;
      }
    } @else if $height == full {
      .height--#{$height} {
        min-height: 100vh;
      }
    }
  }

  @each $breakpoint, $value in $breakpoints {
    @include breakpoint($breakpoint) {
      @each $height in $heights {
        @if $height != full {
          .height--#{$breakpoint}-#{$height} {
            min-height: #{$height}vh;
          }
        } @else if $height == full {
          .height--#{$breakpoint}-#{$height} {
            min-height: 100vh;
          }
        }
      }
    }
  }

  // Max Heights
  @each $height in $heights {
    @if $height != full {
      .max-height--#{$height} {
        max-height: #{$height}vh;
      }
    } @else if $height == full {
      .max-height--#{$height} {
        max-height: 100vh;
      }
    }
  }

  @each $breakpoint, $value in $breakpoints {
    @include breakpoint($breakpoint) {
      @each $height in $heights {
        @if $height != full {
          .max-height--#{$breakpoint}-#{$height} {
            max-height: #{$height}vh;
          }
        } @else if $height == full {
          .max-height--#{$breakpoint}-#{$height} {
            max-height: 100vh;
          }
        }
      }
    }
  }
}
