@each $size, $extension in $sizeExtensions {
  .pad--#{$extension} {
    padding: map-get(map-get($spacing, pure), space-#{$extension}-pure);
    padding: map-get(map-get($spacing, calc), space-#{$extension}-calc);
    padding: map-get(map-get($spacing, clamp), space-#{$extension}-clamp);
  }
}

// Header Padding

@each $size, $extension in $sizeExtensions {
  .pad-header--#{$extension} {
    padding: map-get(map-get($spacing, pure), space-#{$extension}-pure) 0;
    padding: map-get(map-get($spacing, calc), space-#{$extension}-calc) 0;
    padding: map-get(map-get($spacing, clamp), space-#{$extension}-clamp) 0;
  }
}

.pad--none:not(.ct-section) {
  padding: 0 !important;
}
