@import "../helpers/mixins";

// ROOT SIZE
html {
  font-size: $root-font-size !important;

  @include if-smooth-scrolling-on {
    scroll-behavior: smooth;
  }
}

@include if-smooth-scrolling-on {
  [id] {
    scroll-margin-top: $header-height + $scroll-margin;
  }
}

// BOX SIZING
*,
*::before,
*::after {
  box-sizing: border-box;
}

// BODY
body {
  min-height: 100vh;
}

// IMAGES
img,
picture {
  max-width: 100%;
}

//INHERIT FONTS FOR INPUTS AND BUTTONS
input,
button,
textarea,
select {
  font: inherit;
}
