<div class="segment segment-days"><span class="number days"></span><span class="label" OXY_EDITABLE(days_label|DAYS)>%%days_label%%</span></div>
<div class="segment"><span class="number hours"></span><span class="label" OXY_EDITABLE(hours_label|HOURS)>%%hours_label%%</span></div>
<div class="segment"><span class="number minutes"></span><span class="label" OXY_EDITABLE(minutes_label|MINUTES)>%%minutes_label%%</span></div>
<div class="segment"><span class="number seconds"></span><span class="label" OXY_EDITABLE(seconds_label|SECONDS)>%%seconds_label%%</span></div>
